language: python
python:
  - "3.12"

env:
  global:
    - SECRET_KEY="test-secret-key-for-travis-ci-only-not-for-production"
    - DEBUG=True

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt

script:
  - black --check .
  - flake8 .
  - coverage run manage.py test events.tests tests.test_events_comprehensive tests.test_events_comprehensive_part2 tests.test_events_actions tests.test_loc_detail_views tests.test_loc_detail_models accounts.tests loc_detail.tests
  - coverage report

after_success:
  - coveralls --service=travis-pro

deploy:
  - provider: elasticbeanstalk
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: elasticbeanstalk-us-east-2-661217967129
    region: us-east-2
    app: artinerary
    env: artinerary-dev
    edge: true # opt in to dpl v2
    on:
      branch: develop
      
  - provider: elasticbeanstalk
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: elasticbeanstalk-us-east-2-661217967129
    region: us-east-2
    app: artinerary
    env: artinerary-prod
    edge: true # opt in to dpl v2
    on:
      branch: main